@font-face{
    font-family: Myfont_b;
    src: url(/Users/mmoutawa/Desktop/ft_transcendence/src/component/tools/fonts/Quicksand-Bold.ttf);
}
@font-face{
    font-family: Myfont_r;
    src: url(/Users/mmoutawa/Desktop/ft_transcendence/src/component/tools/fonts/Quicksand-Regular.ttf);
}
@font-face{
    font-family: Myfont_m;
    src: url(/Users/mmoutawa/Desktop/ft_transcendence/src/component/tools/fonts/Quicksand-Medium.ttf);
}
@font-face{
    font-family: Myfont_l;
    src: url(/Users/mmoutawa/Desktop/ft_transcendence/src/component/tools/fonts/Quicksand-Light.ttf);
}
@font-face{
    font-family: Myfont_sb;
    src: url(/Users/mmoutawa/Desktop/ft_transcendence/src/component/tools/fonts/Quicksand-SemiBold.ttf);
}
