.Profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 44vw;
    width: 100%;
}

.usr{
    // font
}

.half-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}


.child-container{
    display: flex;
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.profile-box{
    border-radius: 2vw;
    height: 80%;
    width: 28%;
    margin: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2%;
}

.user-btns{
    position: absolute;
    right: 1%;
    bottom: 20%;
    display: flex;
}

.userBtns{
    justify-content: flex-end;
    align-items: flex-end;

}

.info-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 88%;
    background: linear-gradient(90deg, var(--blue) 0%, #3C5D8A 100%);
    border-radius: 1.5vw;
    padding-top: 8%;
    box-shadow: 0.5vw 0.3vw 2vw  #0e1d32;
}

.Friend{
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 3%;
}

.Friend:hover{
    ::-webkit-scrollbar-thumb{
        background: #a8dadc71;
        border-radius: 2vw;
    }
}

::-webkit-scrollbar {
    width: 0.3vw;
}

::-webkit-scrollbar-thumb{
    background: none;
}

::-webkit-scrollbar-thumb:hover{
    background: #a8dadc71;
    border-radius: 2vw;
}

::-webkit-scrollbar{
    margin: 0;
}


.lv-profile{
    height: 18%;
    width: 100%;
    background: linear-gradient(90deg, var(--blue) 0%, var(--darkBlue) 100%);
    border-radius: 5vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0.2vw 0.2vw 30px  #0b182a;
}

.main-lv{
    background: linear-gradient(90deg, var(--red) 0%, #EF616B 100%);
    border-radius: 2vw;
}

.sp-lv{
    border-radius: 2vw;
    background-color: var(--lightBlue);
    overflow: hidden;
}

.achievement{
    width: 50%;
    height: 30%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friends-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2%;
    background: linear-gradient(90deg, var(--blue) 0%, var(--darkBlue) 100%);
}

.av-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.stateq{
    display: flex;
}

.circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3% 3% 0 3%;
}

.svg_circle{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, var(--blue) 0%, var(--darkBlue) 100%);
    border-radius: 2vw;
    flex-direction: column;
}

.circular{
    width: 100%;
    height: 100%;
    display: flex;
    fill: none;
    stroke: var(--lightBlue);
    stroke-width: 0.4vw;
    justify-self: center;
    align-self: center;
    stroke-linecap: round;
}

.circle-line{
    stroke: var(--red);
    stroke-width: 0.4vw;
    fill: none;
}

.match{
    
    position: relative;
    background: linear-gradient(90deg, var(--blue) 0%, var(--darkBlue) 100%);
    border-radius: 2vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.matchs{
    overflow-y: scroll;
    overflow-x: hidden;
}

.match-icon{
    position: absolute;
    top: -13%;
    fill: var(--lightBlue);
}

.cr{
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    align-self: center;
}

.cr-prog{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.prog{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
