body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #1D3557, #020B18);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}